
This is a test of {{ template_engine }}.

{{ #details }}
To render a string, use {{ string_fn }}.
To render a file, use {{ file_fn }}.

{{ /details }}

List of numbers:
    {{ #numbers }}
    * {{ num }}
    * {{ num }}
    * {{ num }}
    {{ /numbers }}

    {{ ^numbers }}
    * No numbers to display.
    {{ /numbers }}

{{ #done }}
    mustache.lua is completely done.
{{ /done }}
{{ ^done }}
    mustache.lua is still being worked on.
{{ /done }}
